// Google Material Design Icons
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Roboto font
// Google Material Design Icons
@import url(https://fonts.googleapis.com/icon?family=Roboto);

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

html, body {
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 15px;
}

.u-sort-icon-asc {
  -webkit-transform: rotate(0deg); /* Safari and Chrome */
  -moz-transform: rotate(0deg);   /* Firefox */
  -ms-transform: rotate(0deg);   /* IE 9 */
  -o-transform: rotate(0deg);   /* Opera */
  transform: rotate(0deg);
}

.u-sort-icon-desc {
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -moz-transform: rotate(180deg);   /* Firefox */
  -ms-transform: rotate(180deg);   /* IE 9 */
  -o-transform: rotate(180deg);   /* Opera */
  transform: rotate(180deg);
}

.rating {
  display: flex;
  align-items: center;
}

@import 'header';
@import 'error';
